extends layout 

block content
  h4 Serial Number: #{pipe.serialNumber}

  p #[strong Owner:] #{pipe.owner}
  p #[strong Manufactured Date:] #{pipe.manufacturedDate_formatted}
  p #[strong Manufacturer:] #{pipe.manufacturer}
  p #[strong Purchase Date:] #{pipe.purchaseDate_formatted}

  div(style='margin-left:20px;margin-top:20px')
  h4 Tests

  table.table.table-striped.table-bordered
    tr 
      th Date 
      th Result
      th Tester
  
    each val in pipeTests
      tr 
        td 
          a(href=pipe.url + val.url) #{val.testDate_formatted}
        td 
          if val.result=='Pass'
            strong.text-success #{val.result}
          else if val.result=='Fail'
            strong.text-danger #{val.result}
          else
            strong.text-warning #{val.result}
        td #{val.tester}
    else
      p There are no tests listed for this pipe.
  
  a.btn.btn-primary(href=pipe.url + '/pipetest/create' style='margin:10px 0') Create Test