extends layout

block content
  h4 sample Serial Number: #{data.sample_item[0].serialNumber}
  h4 Test Date: #{data.sampleTest_item.testDate_formatted}
  if data.sampleTest_item.result == 'Pass'
    h4 #[strong Result:] #[strong.text-success #{data.sampleTest_item.result}]
  else 
    h4 #[strong Result:] #[strong.text-danger #{data.sampleTest_item.result}]
  div(style='margin-left:20px;margin-top:20px')
  h4 Test Files 

  table.table.table-striped.table-bordered
    tr 
      th Files
  
    each val in data.files
      tr 
        td 
          a(href= data.sampleTest_item._id + '/file/' + val._id target='_blank') #{val.name}
    else
      p There are no tests files listed for this sample.