extends layout

block content
  h1 #{title}

  table.table.table-striped.table-bordered 
    thead 
      tr 
        th Serial Number 
        th Owner 
        th Manufactured 
    tbody 
      each val in sample_list 
        tr 
          td 
            a(href=val.url) #{val.serialNumber} 
          td #{val.owner}
          td #{val.manufacturedDate_formatted}
  p
    a.btn.btn-primary(href='../sample/create' style='margin:10px 0')  Create sample